include ./mixins.pug
section.approach
  .container
    .title.title--with-bottom-line
      h2.title__header Our approach
      .title__text Check Our approaches step by step ( how we do it )
  
  ul.approach__list
    +approachItem(4)
