.header {
    &__top {
        background-color: $bg-clr-header-top;
        border-bottom: 1px solid $brdr-clr-header-top;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 41px 0 32px;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
        .button {
            @media (min-width: 900px) {
                margin-right: 15px;
            }
        }
        @media(max-width:900px) {
            flex-direction: column;
        }
    }
}

.logo {
    margin-left: 15px;
    @media(max-width: 900px) {
        margin-left: 0;
        margin-bottom: 15px;
    }
}

.contacts {
    text-align: right;
}

.contact {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 8px;
    color: $ff-clr-contact;
    transition: 0.3s;
    &:hover {
        color: lighten( $ff-clr-contact, 20%);
    }
    &:first-child {
        margin-right: 8px;
        padding-right: 18px;
        border-right: 1px solid $brdr-clr-contact;
    }
    &__icon {
        margin-right: 7px;
        margin-bottom: 7px;
        vertical-align: middle;
        font-size: 1.5rem;
        /*  &--email {
            font-size: 1.2rem;
        } */
    }
    &__text {
        font-size: 1.2rem;
        @media(max-width: 430px) {
            display: none;
        }
    }
}

.facebook-icon {
    display: inline-block;
    margin: 7px;
    padding: 5px 8px 1px;
    border-radius: 3px;
    background-color: $bg-clr-header-facebook-icon;
    color: $ff-clr-header-facebook-icon;
    margin-right: 15px;
}