.nav {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    margin-left: 165px;
    @media(max-width: 900px) {
        margin-left: 0;
        margin-bottom: 25px;
    }
    &__link {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        font-family: $ff-main-bold;
        text-decoration: none;
        text-transform: capitalize;
        color: $ff-clr-nav-link;
        transition: 0.3s;
        font-size: 0.9rem;
        font-weight: bold;
        &:hover,
        &--active {
            color: $ff-clr-nav-link-active;
        }
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 5px;
            height: 5px;
            margin-left: 15px;
            border-radius: 50%;
            background: $bg-clr-nav-link-after;
        }
        &:last-child:after {
            display: none;
        }
        @media (max-width: 500px) {
            display: block;
            &:after {
                display: none;
            }
        }
    }
}