.work {
    padding: 110px 0;
    background-color: $bg-clr-work;
    color: $ff-clr-work;
    @media (max-width: 980px) {
        padding-bottom: 20px;
        padding-top: 30px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .title--with-bottom-line {
        &:after {
            background: $bg-clr-work-title;
        }
    }
    &__item {
        width: 256px;
        height: 255px;
        font-weight: bold;
        color: $ff-clr-work-item;
        background: $bg-clr-work-item;
        &--name {
            position: relative;
            padding: 130px 40px 75px 40px;
            text-align: center;
            &:before {
                @include sprite($work-item);
                @include centerer-x();
                content: '';
                top: 74px;
            }
        }
        @media (max-width: 530px) {
            width: 80%;
            height: auto;
        }
    }
    &__name {
        font-size: 1.625rem;
    }
    &__picture {
        width: 100%;
        height: 100%;
    }
    &__description {
        font-size: 1rem;
    }
}