$ff-main: 'helvatica-neue-regular';
$ff-main-bold: 'helvatica-neue-bold';
$ff-main-light: 'helvatica-neue-light';
$ff-steps: 'georgia-bold';
$ff-form-close-btn: sans-serif;
$ff-clr-form: #828282;
$ff-clr-form-arrow-down-btn: #fff;
$ff-clr-about-header:#424242;
$ff-clr-about-dscrptn:#5c5c5c;
$ff-clr-section-form: #fff;
$ff-clr-step: #fff;
$ff-clr-hero: #fff;
$ff-clr-contact: #424242;
$ff-clr-approach-item:#424242;
$ff-clr-footer-btn:#fff;
$ff-clr-footer-copy:#cecece;
$ff-clr-footer-title: #fff;
$ff-clr-footer-link: #fff;
$ff-clr-work: #fff;
$ff-clr-work-item: #ffffff;
$ff-clr-footer-text: #cecece;
$ff-clr-footer-input: #cecece;
$ff-clr-header-facebook-icon: #fff;
$ff-clr-nav-link:#424242;
$ff-clr-nav-link-active:#de2b24;
$bg-clr-form: #fff;
$bg-clr-hero: #ccc;
$bg-clr-nav-link-after:#424242;
$bg-clr-header-top: #f0f2f4;
$bg-clr-footer-input: #fff;
$bg-clr-footer-top:#2a2a2a;
$bg-clr-footer-bottom:#515151;
$bg-clr-footer-item:#515151;
$bg-clr-approach-item: #fff;
$bg-clr-title-title-after:#424242;
$bg-clr-close-btn:#de2b24;
$bg-clr-work:#de2b24;
$bg-clr-work-title:#fff;
$bg-clr-work-item:#f35e59;
$bg-clr-step:#de2b24;
$bg-clr-section-form: #1287bf;
$bg-clr-header-facebook-icon: #1287bf;
$bg-clr-header-facebook-icon: #1287bf;
$bg-clr-section-approach: #f3f3f3;
$brdr-clr-header-top: #e2e2e2;
$brdr-clr-contact: #e2e2e2;
$brdr-clr-form: #ffffff;
$brdr-clr-form-btn-down: #fff;
$brdr-clr-form-input: #d8d8d8;
$brdr-clr-step: #fff;
$btn-clr-text:#ffffff;
$brdr-clr-social:#515151;
$brdr-clr-social-hover:#de2b24;
$brdr-clr-footer-btn:#515151;
$brdr-clr-footer-btn-hover:#de2b24;
$shadow-clr-input-focus:rgba(0, 0, 0, 0.5);
$shadow-clr-approach-item:rgba(214, 214, 214, 1);